<nav
  id="navbar-example2"
  class="d-flex align-items-center justify-content-between bg-dark text-white p-3 border-bottom mb-3 fixed-top"
>
  <a class="navbar-brand text-uppercase fw-semibold fs-3 ps-2" href="#"
    >Navbar</a
  >
  <ul class="nav nav-pills d-none d-lg-flex gap-3">
    <li class="nav-item text-white">
      <a class="nav-link" href="#scrollspyHeading1">Home</a>
    </li>
    <li class="nav-item text-white">
      <a class="nav-link" href="#scrollspyHeading2">Features</a>
    </li>
    <li class="nav-item text-white dropdown">
      <a
        class="nav-link dropdown-toggle"
        data-bs-toggle="dropdown"
        href="#"
        role="button"
        aria-expanded="false"
        >More</a
      >
      <ul class="dropdown-menu bg-dark text-white">
        <li>
          <a class="dropdown-item text-white" href="#scrollspyHeading3"
            >Service</a
          >
        </li>
        <li>
          <a class="dropdown-item text-white" href="#scrollspyHeading4"
            >Contact</a
          >
        </li>
        <li><hr class="dropdown-divider" /></li>
        <li>
          <a class="dropdown-item text-white" href="#scrollspyHeading5"
            >About</a
          >
        </li>
      </ul>
    </li>
  </ul>
</nav>

<div
  data-bs-spy="scroll"
  data-bs-target="#navbar-example2"
  data-bs-root-margin="0px 0px -40%"
  data-bs-smooth-scroll="true"
  class="scrollspy-example bg-body-tertiary p-3 rounded-2 mt-70px"
  tabindex="0"
>
  <h4 id="scrollspyHeading1">Home heading</h4>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, voluptatibus
    fugiat id nam enim suscipit modi voluptatem aperiam dolorum ducimus
    praesentium ratione, magnam nesciunt, beatae fugit. Nobis, illum tenetur
    itaque iste id asperiores architecto incidunt, hic nisi dolores at
    doloribus. Hic beatae ex modi assumenda deleniti rerum enim doloribus harum
    incidunt voluptas quis, eius soluta alias iusto ea provident minus, cum est
    consequuntur nisi iste quidem. Velit voluptatem quam unde nihil aspernatur
    explicabo, ipsum aliquam. Id architecto vero laboriosam doloribus suscipit
    omnis obcaecati deserunt reiciendis illo, optio adipisci reprehenderit
    dignissimos cum totam est repellat sapiente dicta voluptatem modi assumenda?
    Quaerat nesciunt sequi fugit molestias unde omnis quis nihil aut sunt quo
    sit maiores voluptas labore voluptates eveniet corporis nemo qui,
    consequuntur eligendi molestiae animi. Temporibus nisi obcaecati modi
    doloribus impedit sit dolores quibusdam ipsam eos sint voluptatem neque
    itaque nam beatae dolorum, architecto dignissimos at quaerat ratione tenetur
    officiis, tempore ad, illo veniam. Nulla, facere. A sed magni maiores
    tempora? Nam asperiores suscipit eaque accusantium maxime a unde voluptatum
    odit ab quisquam laboriosam mollitia, ut repudiandae recusandae optio?
    Quidem nihil autem tempore accusamus laborum, similique dolor tenetur nulla
    dolores amet modi eveniet omnis pariatur earum qui recusandae voluptatem,
    nisi ab delectus quis. Natus eaque reiciendis excepturi id soluta
    repudiandae reprehenderit eveniet illum, necessitatibus error sed ab.
    Exercitationem autem maiores, repellat sed esse neque magni ipsum eaque
    temporibus labore ea rerum tempora quisquam atque dignissimos ut aperiam,
    sit corporis magnam, et similique facilis! Facilis harum earum rerum
    recusandae. Vitae, fugiat. Reprehenderit, maiores ipsam dolore animi fugiat
    qui culpa eveniet illo cumque aperiam, perspiciatis amet assumenda. Quisquam
    rem explicabo non voluptatibus magni voluptas eius inventore accusantium,
    distinctio cum saepe alias qui hic nostrum suscipit, voluptatum ducimus
    possimus porro officia a recusandae debitis. Fugiat iure, ad soluta, dolorum
    blanditiis ipsum explicabo temporibus non placeat eaque ullam obcaecati
    odio. Totam repudiandae placeat molestiae mollitia harum id porro excepturi
    fugit voluptatem. Possimus fuga doloribus quia illum cumque et, aut
    aspernatur consequuntur error sit dicta obcaecati mollitia perferendis minus
    iste accusamus ea, quod similique ratione accusantium molestiae numquam? Ex
    obcaecati eveniet fuga similique eaque qui doloribus corrupti excepturi sint
    molestias quisquam magni perspiciatis, quos eius expedita blanditiis,
    distinctio ab sed. Possimus dicta cupiditate soluta autem ratione quos
    reiciendis non earum aspernatur ullam mollitia repudiandae cum, sit facere
    iure ipsam, iusto perspiciatis doloremque inventore est saepe reprehenderit.
    Ab, laudantium laborum. Molestiae quo cupiditate itaque officia ullam
    suscipit deleniti, maxime minus quos rem similique, dignissimos neque saepe
    assumenda? Hic sapiente id consequatur cupiditate, commodi eius distinctio
    laborum molestias quo itaque, minima accusantium, veniam ad quidem
    repudiandae ipsum sunt. Sint reprehenderit dolorem optio eveniet sapiente
    earum eos, fugit ipsa saepe, laudantium dolores vitae illo, laboriosam
    eligendi qui! Veniam quia enim, quos quisquam exercitationem expedita
    accusamus dolor est molestias neque culpa! Totam culpa nam voluptatem iste
    optio sit dolorem voluptates cum aut sint, accusantium, sunt similique porro
    maiores tenetur a quisquam facere. Exercitationem voluptas quidem esse
    ducimus assumenda laboriosam, aperiam pariatur dolores! Ipsa quae est
    mollitia corrupti adipisci velit libero architecto temporibus, tenetur
    voluptatum omnis. Dicta nulla iste nemo, beatae reprehenderit modi nam quam.
    Quis, velit libero quisquam officia quibusdam atque dolorem debitis nisi
    quasi quidem laboriosam doloribus, obcaecati amet porro similique sint ab
    inventore ipsam consequatur. Modi laudantium impedit qui esse libero quam
    quibusdam ipsam. Quod sint laboriosam nobis, consequatur aperiam eaque minus
    reprehenderit neque molestiae totam quasi repellendus doloribus at porro
    fugit deserunt officiis natus blanditiis. Dolorem eligendi perferendis
    cupiditate omnis eveniet enim deserunt consequuntur provident tenetur et.
    Velit ipsam rerum temporibus, molestias est aliquam eveniet tempora omnis
    distinctio placeat perferendis assumenda aut amet cumque ipsa a! Ipsa quia
    aspernatur fugiat iste incidunt ullam commodi repudiandae consequuntur iure
    ratione! Ut a perspiciatis magni temporibus fugiat quis repellendus quos hic
    eveniet earum, fuga nam perferendis omnis nihil culpa incidunt voluptatibus
    quo veniam quae placeat maiores. Perspiciatis quasi nihil soluta repellat
    voluptatem illum suscipit reprehenderit nostrum repellendus, nulla, eum
    nesciunt deserunt. Cumque fugiat, at ad delectus sequi quam iste, sed porro
    hic amet repudiandae accusamus fuga non facilis explicabo in labore. Quae
    atque consectetur ex aliquid assumenda dolores perspiciatis praesentium,
    libero alias. Ipsam in eaque optio labore quae, delectus a possimus sapiente
    quam eos dolorum reprehenderit, quasi, consectetur ducimus ea officiis?
    Magni accusamus beatae ad alias modi, aliquam iure sapiente? Saepe,
    laboriosam sed. Eos corporis, error vel quae saepe quam, earum quo vitae
    sapiente quibusdam debitis perferendis! Cupiditate perspiciatis nihil optio
    autem impedit! Dicta ipsam necessitatibus, modi labore provident repellendus
    ratione ut totam perspiciatis, eius beatae similique obcaecati porro
    pariatur, reprehenderit soluta vero sed unde officiis? Ullam consectetur
    praesentium quaerat veritatis dignissimos aspernatur doloribus unde
    officiis! Eos cum sapiente odit tempore dicta, laborum atque est velit
    quidem officia facere? Eius voluptatibus temporibus porro neque
    necessitatibus officiis?
  </p>
  <h4 id="scrollspyHeading2">Features heading</h4>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident fuga
    obcaecati assumenda praesentium? Ea impedit aspernatur corporis esse
    consequuntur non voluptatem eaque neque eveniet quas harum explicabo
    reprehenderit quos repellendus doloremque recusandae iste quasi numquam odio
    sequi, ipsa sed maxime, temporibus asperiores? Libero at voluptatibus a
    molestiae minus incidunt nulla natus adipisci recusandae rerum
    exercitationem vel nemo quo facilis deleniti, ratione vitae iusto ipsa! Quae
    illum minima pariatur similique dolor culpa aperiam explicabo aliquam.
    Ducimus, libero mollitia adipisci alias ut quam laudantium dolores hic fuga,
    doloremque non in deleniti voluptates enim cumque, ullam quod! Voluptate
    rerum pariatur eum minima et deserunt ut eligendi voluptatem? Nesciunt eaque
    ea aut reprehenderit porro veniam libero corporis iusto laboriosam cum,
    possimus voluptatem quia incidunt tenetur cupiditate quos nihil nemo
    excepturi ducimus? Sit quas distinctio officia. Non recusandae repellat vel
    labore assumenda provident voluptatem ex sapiente, optio, facilis nostrum
    perferendis maiores incidunt nisi officia fugiat? Neque laborum accusantium
    quo hic magnam odit dolorum! Architecto, consequatur esse porro delectus
    temporibus aspernatur a alias ut nostrum enim ex ducimus nam quos eveniet
    pariatur iste tempore molestiae provident ratione. Temporibus, velit
    provident. Impedit beatae quam necessitatibus eum illum culpa aliquam
    possimus amet voluptatem. Pariatur porro quam voluptas sunt repellat nam?
    Placeat minus sequi mollitia maxime quaerat dignissimos quas! Eveniet, iste
    nulla itaque voluptatum soluta ipsum doloribus facilis eos asperiores ex
    voluptatibus saepe! Illo doloremque, nihil temporibus minus ducimus in.
    Odio, iusto. Explicabo ex omnis nemo dolorum consectetur, consequuntur
    corrupti quia numquam impedit culpa eos hic autem sit vel! In molestiae
    possimus explicabo aperiam, minima excepturi cupiditate id magnam voluptates
    quos eos tenetur repudiandae impedit quia deleniti sit vitae quae inventore
    numquam similique quaerat. Eos magni ab magnam, incidunt officia quos
    quaerat impedit vero numquam tenetur harum rem. Assumenda ex facere a quasi
    dicta obcaecati incidunt vero ullam voluptatibus. Inventore blanditiis amet
    minima architecto labore enim ipsum, facere magni, vero porro numquam.
    Minima vitae obcaecati veniam iste natus quasi soluta unde architecto
    incidunt deserunt dolores delectus recusandae possimus doloribus voluptas
    voluptates ab, autem perspiciatis qui hic optio repellat odit fuga
    distinctio. Adipisci eligendi odio omnis ipsum, esse earum, modi possimus
    quasi placeat aliquid illum ducimus? Sequi veritatis aliquid reiciendis
    possimus sunt adipisci sit qui consequuntur, vel quaerat sint, placeat
    obcaecati voluptatibus. Harum dolorem adipisci tempore exercitationem ex eos
    sed fugiat quae aut. Assumenda reiciendis quos amet aperiam ducimus tenetur
    corrupti dolor voluptatem accusantium illo, reprehenderit excepturi fuga
    laboriosam sed architecto repellendus earum minima, officia, eveniet dolorum
    obcaecati debitis ad quisquam culpa! Ullam enim maiores ipsam error aliquid
    eveniet, quae libero nesciunt assumenda! Quisquam molestiae, doloremque
    illum reprehenderit asperiores qui nostrum dicta dolores excepturi libero
    consequuntur corporis molestias saepe minima esse rem quidem ipsum
    voluptatem cum ut provident mollitia tempore quam error? Eveniet vel commodi
    explicabo tempore doloribus officiis quidem dicta obcaecati voluptatum?
    Exercitationem tenetur, quaerat omnis architecto laboriosam autem
    consequuntur magni quidem facere, quia corrupti rem cumque harum!
    Consequatur beatae vitae quae ipsa aperiam dolores id voluptates.
    Exercitationem, nesciunt sit dignissimos molestiae earum soluta ut quaerat
    quisquam ratione veniam quia! Provident minima alias eos harum labore
    similique expedita, architecto unde! Perferendis dolores est reiciendis
    minima esse! Corporis, tempore? Laborum, ut? Eius mollitia nam, quam
    corporis quae asperiores veniam, quos optio voluptas debitis dolor.
    Similique adipisci pariatur minus quam. Ex iste fuga non eum harum molestias
    alias, reprehenderit inventore veritatis vero velit possimus dolore
    consectetur! Exercitationem vel ut earum eius rerum expedita, alias
    dignissimos cum nihil voluptatibus sunt nulla praesentium veritatis et
    officia dolores dicta totam cupiditate ex corporis fugiat! Error magnam sint
    et ullam, dolorum blanditiis culpa quos corrupti inventore rerum quidem,
    nulla nemo qui vel odio ea porro quod facilis. Quas, alias deleniti. Soluta
    sit culpa qui nostrum, voluptas ad natus? Labore, officiis reiciendis
    praesentium quia in possimus aliquam quas eaque, qui ipsum quidem velit
    asperiores cupiditate. Nam, quod ipsum laudantium hic ea sapiente eaque
    incidunt repellat adipisci eum excepturi eligendi ipsam rem nisi error,
    assumenda consectetur, officiis explicabo! Adipisci quisquam, repudiandae
    cum omnis nam odio beatae quidem, impedit mollitia officiis aperiam ullam
    tempora est ipsa soluta perferendis nostrum alias explicabo. Natus, dicta
    blanditiis. Quae consequuntur corporis corrupti eos doloremque? Accusantium
    deserunt maxime ad earum iste eius fuga soluta. Dolorum molestiae ut iusto
    saepe odit, vitae accusantium obcaecati maxime quae officia eos ab alias
    dolorem iure? Quaerat amet deserunt reiciendis natus officia consequuntur
    quia facere aliquam expedita soluta est, repudiandae alias iste. Minima
    similique blanditiis molestias rerum nemo, aspernatur aliquid quibusdam
    minus, obcaecati distinctio hic, alias ab deleniti? Non eos harum sunt
    doloremque possimus fugit consequatur provident, corporis architecto aperiam
    ducimus qui, blanditiis sit enim culpa quia dolores magni numquam et est!
    Sequi doloribus ut dignissimos fugiat, deserunt temporibus laborum error
    ducimus voluptatem, illum beatae? Aliquid aut, laudantium repudiandae,
    ratione tempore vel voluptates unde dignissimos exercitationem distinctio
    perspiciatis? Voluptas, optio quia illo officiis nulla ducimus voluptatem
    impedit perspiciatis dolore quaerat dignissimos qui quam quis ipsa
    perferendis quibusdam hic. Aperiam id possimus accusantium. Ex
    exercitationem voluptatibus consectetur ea possimus reiciendis laudantium
    sed doloribus facere praesentium architecto voluptatem officia autem cumque
    aliquam, officiis rerum cum assumenda beatae. Saepe sint, quae eum veritatis
    magni deleniti reprehenderit labore magnam dolore amet minima excepturi
    provident odit asperiores est enim ea nulla quia at nobis! Voluptatum fuga
    doloribus facere laborum quam commodi atque nostrum repellendus modi
    recusandae numquam facilis voluptas dolore vero cum odit optio in dolores
    culpa quo enim, iure assumenda sed delectus. Distinctio eligendi id quasi
    dolore, recusandae unde tempore veritatis aut consequatur ratione tenetur!
    Itaque maxime vitae et saepe ea maiores libero eius quibusdam ratione
    corrupti fuga inventore similique tempora veniam animi voluptates vel quasi
    ab ut natus culpa, tenetur iste? Necessitatibus veritatis eum deserunt ad
    inventore enim cum unde, excepturi beatae iusto dolor numquam cupiditate
    quae at quisquam rerum nulla. Unde ipsum modi inventore soluta sequi magnam
    temporibus accusamus, ipsa pariatur quibusdam consectetur excepturi?
    Delectus quod mollitia laboriosam, earum hic et, voluptatum cumque nobis
    voluptate temporibus ex enim sit ullam sequi. Facere repellendus cupiditate
    corporis, tenetur dignissimos tempore culpa libero autem possimus numquam
    velit sint nesciunt incidunt deserunt architecto impedit error? Reiciendis
    dolorem illum et atque ad, eos deleniti quasi odio velit non odit impedit
    distinctio inventore, iure molestiae similique! Doloremque at odio, magnam
    officia, error quidem a corporis officiis, optio recusandae quia placeat
    assumenda alias fugiat in similique ducimus suscipit quod veniam modi iure.
    A laudantium iusto ut fugiat obcaecati deleniti mollitia tenetur animi quia
    quos dolore quasi, accusamus pariatur! Magni voluptatum molestiae inventore
    dolore sequi consequuntur numquam, possimus aspernatur voluptatem veritatis
    recusandae exercitationem nam tenetur explicabo voluptate dolor vel dolores
    rem, adipisci velit culpa. Dolor, eaque quis tenetur distinctio impedit fuga
    iste quia fugiat ratione non blanditiis magnam laborum temporibus iusto
    voluptates ullam. Quas architecto est sed, aut praesentium eum ducimus quis
    quos, maiores laborum amet magnam modi natus fugiat aspernatur eius commodi
    ex? Totam soluta velit ad, iusto explicabo harum facere earum eius nesciunt
    iste tenetur, quo minima sit esse reiciendis assumenda voluptatum
    recusandae, repellendus consectetur commodi repudiandae tempore architecto
    delectus laborum! Sunt provident sequi, temporibus excepturi eligendi magnam
    dolore eos repudiandae. Ex assumenda maiores, dolor omnis iste expedita
    pariatur rerum, aut repellat minima praesentium dignissimos impedit
    perferendis mollitia veniam, porro debitis eos unde labore reprehenderit.
    Omnis dicta neque exercitationem veniam alias. Nam animi sequi, omnis maxime
    et nulla, facere mollitia quas iste consequatur nobis nostrum id qui
    voluptatum! Voluptate commodi vero enim aliquam quos eveniet nostrum,
    aspernatur consectetur molestias, quis et porro facere. Inventore a omnis
    dolores laborum, hic id sequi quasi ipsum consequuntur eaque est laudantium
    eligendi quas velit veniam sapiente.
  </p>
  <h4 id="scrollspyHeading3">Service heading</h4>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, dolores
    nulla temporibus aliquid id eligendi ullam delectus provident, deserunt
    nobis architecto eum natus atque obcaecati necessitatibus itaque incidunt
    tempora illo numquam praesentium doloremque dicta laborum minima. Magnam
    ducimus enim dolores vitae facere mollitia explicabo nulla quo at, labore
    officiis magni fugiat quia cupiditate nihil et sit, provident maxime!
    Beatae, ipsa aliquid? Architecto quia corporis ex culpa cum nulla nihil
    dignissimos nostrum atque! Tempore incidunt, itaque ratione magnam
    aspernatur corporis, amet rem magni quo deleniti veritatis necessitatibus et
    ex quidem laborum sequi numquam voluptate at, perferendis cum dolorum
    molestias nostrum! Ducimus ipsam sit obcaecati illum libero dicta iusto, et
    reprehenderit exercitationem id maiores possimus? Optio, quaerat modi
    assumenda excepturi sequi dolor ducimus dolorum unde amet, velit fugiat quo
    maxime?
  </p>
  <h4 id="scrollspyHeading4">Contact heading</h4>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti aperiam
    debitis quam reprehenderit dolorem atque officiis, facilis unde voluptatem
    quos explicabo maiores cumque quisquam consequuntur ratione. Ducimus totam
    culpa odit dolorum cum, aut dicta dolore, neque quibusdam assumenda deleniti
    suscipit doloremque nam mollitia quis, tempora ipsum similique alias tempore
    non at atque sed! Autem perspiciatis omnis nulla sunt vitae, dolores a
    fugiat ipsam vero quis quisquam iure voluptate dolor eaque. Magni incidunt
    aperiam repellendus possimus consectetur nam, accusamus nesciunt tempora.
    Fuga, culpa ducimus! Atque consequuntur expedita ipsam, modi non autem,
    deleniti minima nemo dolores temporibus magni necessitatibus totam quam.
  </p>
  <h4 id="scrollspyHeading5">About heading</h4>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis vel vitae
    officiis obcaecati sed ea voluptates nisi dicta ipsum alias. Obcaecati
    aspernatur facere velit rerum consequatur recusandae exercitationem
    reiciendis commodi ipsam accusamus distinctio expedita, ullam explicabo
    voluptatem doloribus, laborum, cupiditate perferendis. Quod eum eos culpa
    sunt cum veniam laborum maxime! Quidem officia voluptates veniam tempore!
    Mollitia numquam sed et explicabo cumque? Minus magnam distinctio assumenda
    ab officia? Quos deleniti, molestiae accusantium ullam possimus fugit
    consectetur inventore nisi excepturi, totam porro perspiciatis unde, fugiat
    minima aperiam quidem doloribus autem sapiente dolorum dignissimos natus
    veritatis similique officiis. Amet quia saepe incidunt inventore ratione
    ipsam fugiat nam labore! Eum ipsum odit beatae eveniet, cumque magni vel
    nobis placeat porro modi maxime? Quasi delectus fugiat aut obcaecati
    consequatur temporibus! In incidunt libero excepturi aliquid voluptates
    explicabo, ipsum nisi magni fugit fuga amet repellat, vitae rerum eos nam
    eius obcaecati itaque. Delectus fugiat quis ipsum facilis dolore aperiam
    illum a assumenda, doloremque quia nisi error ullam praesentium, quo sint
    quasi quas optio, magnam vero? Facere quia corporis veritatis odio? Culpa
    natus mollitia, explicabo repudiandae, aliquam, consectetur accusantium
    inventore architecto facere labore reprehenderit blanditiis voluptatem
    ducimus tempore iure beatae quos exercitationem quisquam dolor nam eligendi
    perspiciatis eaque. Provident repudiandae blanditiis ea commodi officia quos
    ipsam amet dicta saepe aspernatur porro, eveniet nostrum voluptatibus! Ad
    mollitia distinctio aut a, quisquam voluptate provident. Numquam, pariatur?
    Animi, odit. Soluta suscipit enim iusto at quos quasi totam, debitis
    obcaecati, eaque possimus a in asperiores earum itaque quas iste amet? Alias
    molestias quam sint possimus vitae beatae expedita eius, suscipit quos
    facere dolores minus, amet, eos earum reprehenderit cupiditate eum
    voluptatem dolorum. Placeat deserunt asperiores laudantium architecto
    aliquid dolorum rem velit nesciunt laboriosam recusandae reprehenderit
    itaque nobis earum voluptas eos repellendus in, nihil hic sed? Quae optio
    est beatae ad eius natus incidunt reiciendis! Alias quam beatae error
    perspiciatis facilis ducimus quis voluptate vitae odit totam. Quidem
    voluptates, natus at quod debitis omnis animi sed libero, culpa cumque,
    voluptas impedit assumenda quasi quam dolor!
  </p>
</div>
